<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:family="http://www.italycappuccino.com/schema/family"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.italycappuccino.com/schema/family http://www.italycappuccino.com/schema/family/family.xsd">

	<family:parent id="Peter">
		<family:child name="lusa" age="10"/>
		<family:child name="edison" age="1"/>
	</family:parent>

</beans>